In [4]:
dataset = "cose"

In [5]:
import pandas as pd
import numpy as np
data_dir = f'data/{dataset}'
train = pd.read_json(f'{data_dir}/train.jsonl', lines=True)
test = pd.read_json(f'{data_dir}/test.jsonl', lines=True)
val = pd.read_json(f'{data_dir}/val.jsonl', lines=True)

In [6]:
train

,annotation_id,classification,docids,evidences,query,query_type
0,00046426483cdbd28a73a1f3f3c8b7f3,E,NaN,[[{'docid': '00046426483cdbd28a73a1f3f3c8b7f3'...,middle east [sep] abrahamic [sep] city [sep] j...,temple
1,000990552527b1353f98f1e1a7dfc643_1,E,NaN,[[{'docid': '000990552527b1353f98f1e1a7dfc643_...,hollywood [sep] night sky [sep] constellation ...,star
2,0016d9fa95a1b16ed8f63f48d59edc90,C,NaN,[[{'docid': '0016d9fa95a1b16ed8f63f48d59edc90'...,stress [sep] understand themselves [sep] pleas...,buying christmas presents
3,0017f6705b19814687c5de6f82ad7ed6,A,NaN,[[{'docid': '0017f6705b19814687c5de6f82ad7ed6'...,student [sep] register [sep] old enough [sep] ...,go to school
4,0029a0f6e962a0b87bb9908a7a8ef1e1,B,NaN,[[{'docid': '0029a0f6e962a0b87bb9908a7a8ef1e1'...,sparse [sep] slender [sep] unacquainted [sep] ...,thick
...,...,...,...,...,...,...
8747,ffce169dc46490d006d027c9e1c2b196,D,NaN,[[{'docid': 'ffce169dc46490d006d027c9e1c2b196'...,falling asleep [sep] fatigue [sep] crying [sep...,watching film
8748,ffdc97d64ff5e35ede3c577a3a49b94a,B,NaN,[[{'docid': 'ffdc97d64ff5e35ede3c577a3a49b94a'...,reproduce [sep] obstruct justice [sep] tell th...,love
8749,ffe768a6d5015b7f6a8c845717e183d7,B,NaN,[[{'docid': 'ffe768a6d5015b7f6a8c845717e183d7'...,satisfaction [sep] jealousy [sep] happiness [s...,loving another
8750,ffe82545e5af209e31f5e40552c7349c,C,NaN,[[{'docid': 'ffe82545e5af209e31f5e40552c7349c'...,atlas [sep] post office [sep] map [sep] get to...,route
8751,fff56e80d41b2f7915478da460ef7b0e,A,NaN,[[{'docid': 'fff56e80d41b2f7915478da460ef7b0e'...,experience pleasure [sep] cross street [sep] v...,person

In [316]:
[np.array(x).shape for x in train['evidences']]

[(1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (6, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (9, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (5, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (7, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (23,),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (5,),
 (2, 1),
 (1, 1),
 (1, 1),
 (5, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (6, 1),
 (2, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (11, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (6, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 3),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (1, 1),
 (13, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (11, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (11, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (7, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 2),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (4, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (7, 1),
 (1, 2),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (18, 1),
 (1, 1),
 (3, 1),
 (7, 1),
 (1, 1),
 (3, 1),
 (9,),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (14, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (5, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (5, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (7, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (7, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (8,),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (8, 1),
 (3, 1),
 (4, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (10, 1),
 (2, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (7, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (5, 1),
 (1, 1),
 (7, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (2, 1),
 (10, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (5, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (5, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (1, 1),
 (1, 1),
 (4, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (5, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (5, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (11, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (4,),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 4),
 (5, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (9, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2,),
 (1, 1),
 (1, 1),
 (1, 1),
 (7, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 2),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (14, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (4, 1),
 (2, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (1, 1),
 (2, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (5, 1),
 (1, 1),
 (5, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (2, 1),
 (1, 2),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (6, 1),
 (1, 1),
 (2,),
 (1, 1),
 (1, 1),
 (1, 1),
 (6, 1),
 (3, 1),
 (2,),
 (1, 1),
 ...]

In [295]:
S = train['evidences'][5]

In [296]:
[x for xx in S for x in xx]

[{'text': 'After adjusting for age , body mass index , race , current smoking status , and recent hormonal contraceptive use , women with low AMH values ( < 0.7 ng/mL [ n = 84 ] ) did not have a significantly different predicted probability of conceiving by 6 cycles of attempt ( 65 % ; 95 % CI , 50%-75 % ) compared with women ( n = 579 ) with normal values ( 62 % ; 95 % CI , 57%-66 % ) or by 12 cycles of attempt ( 84 % [ 95 % CI , 70%-91 % ] vs 75 % [ 95 % CI , 70%-79 % ] , respectively ) .',
  'docid': '13497630',
  'start_token': 217,
  'end_token': 333,
  'start_sentence': 7,
  'end_sentence': 8},
 {'text': 'Women with high serum FSH values ( > 10 mIU/mL [ n = 83 ] ) did not have a significantly different predicted probability of conceiving after 6 cycles of attempt ( 63 % ; 95 % CI , 50%-73 % ) compared with women ( n = 654 ) with normal values ( 62 % ; 95 % CI , 57%-66 % ) or after 12 cycles of attempt ( 82 % [ 95 % CI , 70%-89 % ] vs 75 % [ 95 % CI , 70%-78 % ] , respectively ) .',
  'docid': '13497630',
  'start_token': 333,
  'end_token': 429,
  'start_sentence': 8,
  'end_sentence': 9},
 {'text': 'Women with high urinary FSH values ( > 11.5 mIU/mg creatinine [ n = 69 ] ) did not have a significantly different predicted probability of conceiving after 6 cycles of attempt ( 61 % ; 95 % CI , 46%-74 % ) compared with women ( n = 660 ) with normal values ( 62 % ; 95 % CI , 58%-66 % ) or after 12 cycles of attempt ( 70 % [ 95 % CI , 54%-80 % ] vs 76 % [ 95 % CI , 72%-80 % ] , respectively ) .',
  'docid': '13497630',
  'start_token': 429,
  'end_token': 526,
  'start_sentence': 9,
  'end_sentence': 10},
 {'text': 'Inhibin B levels ( n = 737 ) were not associated with the probability of conceiving in a given cycle ( hazard ratio per 1-pg/mL increase , 0.999 ; 95 % CI , 0.997 - 1.001 ) .',
  'docid': '13497630',
  'start_token': 526,
  'end_token': 564,
  'start_sentence': 10,
  'end_sentence': 11},
 {'text': 'Conclusions and Relevance Among women aged 30 to 44 years without a history of infertility who had been trying to conceive for 3 months or less , biomarkers indicating diminished ovarian reserve compared with normal ovarian reserve were not associated with reduced fertility .',
  'docid': '13497630',
  'start_token': 564,
  'end_token': 608,
  'start_sentence': 11,
  'end_sentence': 12}]

In [302]:
train

,annotation_id,query,evidences,classification,query_type,docids
0,2,1 in 5 million in UK have abnormal PrP positiv...,"[[{'text': 'RESULTS Of the 32,441 appendix sam...",REFUTES,NaN,[13734012]
1,9,32% of liver transplantation programs required...,[[{'text': 'Policies requiring discontinuation...,SUPPORTS,NaN,[44265107]
2,12,40mg/day dosage of folic acid and 2mg/day dosa...,[[{'text': 'RESULTS Mean baseline homocysteine...,SUPPORTS,NaN,[33409100]
3,28,A T helper 2 cell (Th2) environment impedes di...,[[{'text': 'We report that activation of basop...,REFUTES,NaN,[12670680]
4,32,A country's Vaccine Alliance (GAVI) eligibilit...,[[{'text': 'CONCLUSIONS This study substantiat...,REFUTES,NaN,[12428497]
...,...,...,...,...,...,...
400,1386,cSMAC formation represses weak ligand signalling.,[[{'text': 'This conclusion was supported by e...,REFUTES,NaN,[306006]
401,1393,miRNAs enforce homeostasis by suppressing low-...,[[{'text': 'Increasing evidence suggests that ...,SUPPORTS,NaN,[12440953]
402,1403,siRNA knockdown of A20 accelerates tumor progr...,[[{'text': 'The tumorigenic potential of GSCs ...,REFUTES,NaN,"[33370, 38355793]"
403,1404,siRNA knockdown of A20 slows tumor progression...,[[{'text': 'The tumorigenic potential of GSCs ...,SUPPORTS,NaN,"[33370, 38355793]"
404,1406,β-sheet opening occurs during pleurotolysin po...,[[{'text': 'The major conformational changes i...,SUPPORTS,NaN,[2617858]

In [309]:
train

,annotation_id,query,evidences,classification,query_type,docids
0,2,1 in 5 million in UK have abnormal PrP positiv...,"[[{'text': 'RESULTS Of the 32,441 appendix sam...",REFUTES,NaN,[13734012]
1,9,32% of liver transplantation programs required...,[[{'text': 'Policies requiring discontinuation...,SUPPORTS,NaN,[44265107]
2,12,40mg/day dosage of folic acid and 2mg/day dosa...,[[{'text': 'RESULTS Mean baseline homocysteine...,SUPPORTS,NaN,[33409100]
3,28,A T helper 2 cell (Th2) environment impedes di...,[[{'text': 'We report that activation of basop...,REFUTES,NaN,[12670680]
4,32,A country's Vaccine Alliance (GAVI) eligibilit...,[[{'text': 'CONCLUSIONS This study substantiat...,REFUTES,NaN,[12428497]
...,...,...,...,...,...,...
400,1386,cSMAC formation represses weak ligand signalling.,[[{'text': 'This conclusion was supported by e...,REFUTES,NaN,[306006]
401,1393,miRNAs enforce homeostasis by suppressing low-...,[[{'text': 'Increasing evidence suggests that ...,SUPPORTS,NaN,[12440953]
402,1403,siRNA knockdown of A20 accelerates tumor progr...,[[{'text': 'The tumorigenic potential of GSCs ...,REFUTES,NaN,"[33370, 38355793]"
403,1404,siRNA knockdown of A20 slows tumor progression...,[[{'text': 'The tumorigenic potential of GSCs ...,SUPPORTS,NaN,"[33370, 38355793]"
404,1406,β-sheet opening occurs during pleurotolysin po...,[[{'text': 'The major conformational changes i...,SUPPORTS,NaN,[2617858]

In [161]:
docs = pd.read_json(f'{data_dir}/docs.jsonl', lines=True)

In [308]:
len([0,  7912, 33302, 38120,   598,  2324,    66,    10,   617,  2658,
            9, 37240, 38836,  7931,     7,  1346,   357,     5,  5550,   227,
         2210,  2785,     9,     5, 21087,     9,  2849, 31903,  7910,    19,
         3349,  2485,    71,     5,   741,  1417,   833,  2292,  1657, 38263,
         1177, 38407, 31395, 14887,  1210,  9210,   636,     8,     7,   192,
          549,    10,  5153,  3113, 26268,    21,  2132,  2156,     8,     7,
         1346,   357,     5,  8819,    13,     5,  1052,     9,  1925,     8,
         1925,   785,     8,    13,     5,  5516,     9, 15535,  9571,   479,
        24566, 30596,  9139,   241,  3697, 19031,   542, 16166,     8, 44563,
         1720,   739,  3189,  2658,     9, 37240, 38836,  7931,   479, 30229,
        36595, 10832, 19133, 38836,  7931,    31,     5, 38951,  6522,     9,
         3492,   987,  4815,  6051,    11,     5,   656,  2658,  2156,     8,
          943,  4815,    11,  3806,    19,   795,  1389,     9,  5740,    11,
           14,  2658,   479, 23978, 26050,  2107,     6, 36011, 37240, 38836,
         7931,  4460,    11,  4828,   179,     8, 14224,    11,  2242,  3707,
          179,     8,  4776,    13,     5,  2621,     9, 27034,  3349,  1499,
         8276,    36,  2869,   510,  4839,   479, 15770, 35843,  1525,     5,
         2107,     6, 36011, 38836,  7931,   545,    58,  1313,    13, 27034,
         2869,   510,  2156,  9172,    41,  1374, 21087,     9,  2766,   246,
          228,   153,  1956,    36,  6164,  7606,  2123, 22455, 37988,     7,
          290,  2663,   228,   153,  4839,   479,    20, 21087,    11,   167,
         2421,    11, 27939,   111,  1191,    36,   262,  3103,   228,   153,
         2156, 36891,     7,   379,  5607,   228,   153,  4839,   222,    45,
        10356,  3625,    31,   167,  2421,   227, 20990,     8, 12497,    36,
        38554,   228,   153,  2156, 30858,     7,   262,  4432,   228,   153,
         4839,     8,    21,  1122,    11,   258, 41358,     8,   420,     5,
          130,  4007, 20456,   911, 36551,   479, 42215,  3044,     9,     5,
         1313, 36366,    13,     5, 12358, 42190,    23,  4729, 10949, 20993,
          261, 21234,  1487,    10,   239, 10301,    14,    58,  7398,   833,
         9486, 48259,  1827,  1118,    19,     5, 13135,    11,     5,  2340,
         1956,  2156,     8,    11, 12664,  5709,    19,  1474,  5154,  1200,
            9,   748,   347, 26697,  2156,    70,     9,    61,    58, 17677,
         1499,   833,  9486, 48259,  1827,    23,  4729, 10949, 20993,   261,
        21234,   479,  8748, 22065, 11654,   152,   892, 25223,  1626,   986,
         3218,     8,  3649,    10,   239, 21087,     9,  7910,    19, 27034,
         2869,   510,  2156,  9172,   748,   347, 26697,  6994,  2194,    11,
            5,  1956,  1118,    19,     5, 28664,   748,   347, 26697,  1200,
            7,  1248,   479,  1216,  4139,    33,   505,  8819,    13,     5,
         1052,     9,  1925,     8,  1925,   785,     8,    13,     5,  5516,
            9, 15535,  9571,   479,  1437,     2,     2,   134,    11,   195,
          153,    11,   987,    33, 27034,  2869,   510,  8593, 26358,     4,
            2])

411

In [307]:
len("OBJECTIVES To carry out a further survey of archived appendix samples to understand better the differences between existing estimates of the prevalence of subclinical infection with prions after the bovine spongiform encephalopathy epizootic and to see whether a broader birth cohort was affected , and to understand better the implications for the management of blood and blood products and for the handling of surgical instruments . DESIGN Irreversibly unlinked and anonymised large scale survey of archived appendix samples . SETTING Archived appendix samples from the pathology departments of 41 UK hospitals participating in the earlier survey , and additional hospitals in regions with lower levels of participation in that survey . SAMPLE 32,441 archived appendix samples fixed in formalin and embedded in paraffin and tested for the presence of abnormal prion protein ( PrP ) . RESULTS Of the 32,441 appendix samples 16 were positive for abnormal PrP , indicating an overall prevalence of 493 per million population ( 95 % confidence interval 282 to 801 per million ) . The prevalence in those born in 1941 - 60 ( 733 per million , 269 to 1596 per million ) did not differ significantly from those born between 1961 and 1985 ( 412 per million , 198 to 758 per million ) and was similar in both sexes and across the three broad geographical areas sampled . Genetic testing of the positive specimens for the genotype at PRNP codon 129 revealed a high proportion that were valine homozygous compared with the frequency in the normal population , and in stark contrast with confirmed clinical cases of vCJD , all of which were methionine homozygous at PRNP codon 129 . CONCLUSIONS This study corroborates previous studies and suggests a high prevalence of infection with abnormal PrP , indicating vCJD carrier status in the population compared with the 177 vCJD cases to date . These findings have important implications for the management of blood and blood products and for the handling of surgical instruments . ".split())

333

In [ ]:
len()