In [267]:
dataset = "scifact"

In [268]:
import pandas as pd
import numpy as np
data_dir = f'data/{dataset}'
train = pd.read_json(f'{data_dir}/train.jsonl', lines=True)
test = pd.read_json(f'{data_dir}/test.jsonl', lines=True)
val = pd.read_json(f'{data_dir}/val.jsonl', lines=True)

In [255]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6363 entries, 0 to 6362
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   annotation_id   6363 non-null   int64
 1   classification  6363 non-null   object
 2   docids          6363 non-null   object
 3   evidences       6363 non-null   object
 4   query           6363 non-null   object
 5   query_type      0 non-null      float64
dtypes: float64(1), int64(1), object(4)
memory usage: 298.4+ KB

In [269]:
train

,annotation_id,query,evidences,classification,query_type,docids
0,2,1 in 5 million in UK have abnormal PrP positiv...,"[[{'text': 'RESULTS Of the 32,441 appendix sam...",REFUTES,NaN,[13734012]
1,9,32% of liver transplantation programs required...,[[{'text': 'Policies requiring discontinuation...,SUPPORTS,NaN,[44265107]
2,12,40mg/day dosage of folic acid and 2mg/day dosa...,[[{'text': 'RESULTS Mean baseline homocysteine...,SUPPORTS,NaN,[33409100]
3,28,A T helper 2 cell (Th2) environment impedes di...,[[{'text': 'We report that activation of basop...,REFUTES,NaN,[12670680]
4,32,A country's Vaccine Alliance (GAVI) eligibilit...,[[{'text': 'CONCLUSIONS This study substantiat...,REFUTES,NaN,[12428497]
...,...,...,...,...,...,...
400,1386,cSMAC formation represses weak ligand signalling.,[[{'text': 'This conclusion was supported by e...,REFUTES,NaN,[306006]
401,1393,miRNAs enforce homeostasis by suppressing low-...,[[{'text': 'Increasing evidence suggests that ...,SUPPORTS,NaN,[12440953]
402,1403,siRNA knockdown of A20 accelerates tumor progr...,[[{'text': 'The tumorigenic potential of GSCs ...,REFUTES,NaN,"[33370, 38355793]"
403,1404,siRNA knockdown of A20 slows tumor progression...,[[{'text': 'The tumorigenic potential of GSCs ...,SUPPORTS,NaN,"[33370, 38355793]"
404,1406,β-sheet opening occurs during pleurotolysin po...,[[{'text': 'The major conformational changes i...,SUPPORTS,NaN,[2617858]

In [265]:
test['evidences'][19]

[[{'docid': 'AO_wiki_79_8',
   'end_sentence': 8,
   'end_token': 217,
   'start_sentence': 8,
   'start_token': 170,
   'text': 'The word cloak comes from Old North French cloque ( Old French cloche , cloke ) meaning " travelling cloak " , from Medieval Latin clocca " travelers \' cape , " literally " a bell , " so called from the garment \'s bell - like'}],
 [{'docid': 'AO_wiki_79_8',
   'end_sentence': 21,
   'end_token': 435,
   'start_sentence': 21,
   'start_token': 418,
   'text': 'Ladies may wear a long ( over the shoulders or to ankles ) cloak usually called a'}],
 [{'docid': 'AO_wiki_79_8',
   'end_sentence': 23,
   'end_token': 475,
   'start_sentence': 20,
   'start_token': 416,
   'text': 'satin . Ladies may wear a long ( over the shoulders or to ankles ) cloak usually called a cape , or a full - length cloak . Gentlemen wear an ankle - length or full - length cloak . Formal cloaks often have expensive , colored linings and trimmings such as silk , satin , velvet and fur'}]]

In [247]:
a = list(test['evidences'][0])

In [235]:
t

[[{'text': 'Individuals homozygous for alpha(+)-thalassaemia have microcytosis and an increased erythrocyte count .',
   'docid': '18174210',
   'start_token': 25,
   'end_token': 37,
   'start_sentence': 1,
   'end_sentence': 2},
  {'text': 'We estimated that the haematological profile in children homozygous for alpha(+)-thalassaemia reduces the risk of SMA during acute malaria compared to children of normal genotype ( relative risk 0.52 ; 95 % confidence interval [ CI ] 0.24 - 1.12 , p = 0.09 ) .',
   'docid': '18174210',
   'start_token': 267,
   'end_token': 313,
   'start_sentence': 9,
   'end_sentence': 10}],
 [{'text': 'CONCLUSIONS The increased erythrocyte count and microcytosis in children homozygous for alpha(+)-thalassaemia may contribute substantially to their protection against SMA .',
   'docid': '18174210',
   'start_token': 313,
   'end_token': 334,
   'start_sentence': 10,
   'end_sentence': 11}]]

In [214]:
t[40]

'giggled'

In [161]:
docs = pd.read_json(f'{data_dir}/docs.jsonl', lines=True)

In [179]:
docs

,docid,document
0,075e483d21c29a511267ef62bedc0461,The sanctions against the school were a punish...
1,61fe6e879ff18686d7552425a36344c8,Sammy wanted to go to where the people were . ...
2,4c1cb0e95b99f72d55c068ba0255c54d,To locate a choker not located in a jewelry bo...
3,02e821a3e53cb320790950aab4489e85,Google Maps and other highway and street GPS s...
4,23505889b94e880c3e89cff4ba119860,"The fox walked from the city into the forest ,..."
...,...,...
10912,6c84e79d0595efd99596faa07c4961d0,What would you do to a rock when climb up a cl...
10913,88f1fe6cfbcb1a25f25454341c789463,"His compressor needed a new hose , where did h..."
10914,5074bcaf0f700c9f3c8c563067af156a,"The man closed his eyes as the music played , ..."
10915,6a253e076cd2af00e17d9950d70daf47,"Setting up framing , truss and beam are some o..."
10916,5af7c7860e3be61d4cfd814cc109f9d9,What is another name for a disk for storing in...

,id,text,classification,rationale
0,0,do iran and afghanistan speak the same languag...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ..."
1,1,do good samaritan laws protect those who help ...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, ..."
2,2,is windows movie maker part of windows essenti...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
3,3,is confectionary sugar the same as powdered su...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
4,4,will there be a season 4 of da vinci's demons ...,False,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
...,...,...,...,...
6358,6358,does shorvori die in dil se dil tak [SEP] DIL ...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
6359,6359,is a us district court a federal court [SEP] U...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ..."
6360,6360,can a tenant get a restraining order against a...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
6361,6361,downton abbey will there be a season 7 [SEP] L...,False,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ..."
6362,6362,is margin of error the same as confidence inte...,False,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."