In [297]:
dataset = "cose"

In [298]:
import pandas as pd
import numpy as np
data_dir = f'data/{dataset}'
train = pd.read_json(f'{data_dir}/train.jsonl', lines=True)
test = pd.read_json(f'{data_dir}/test.jsonl', lines=True)
val = pd.read_json(f'{data_dir}/val.jsonl', lines=True)

In [299]:
train['query'][0].split("[sep]")

['middle east ', ' abrahamic ', ' city ', ' jerusalem ', ' jewish community']

In [289]:
[np.array(x).shape for x in train['evidences']]

[(1, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (1, 1),
 (5, 1),
 (5, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (3, 1),
 (3, 1),
 (2, 1),
 (1, 1),
 (2,),
 (1, 2),
 (2, 1),
 (2, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (4,),
 (1, 1),
 (5, 1),
 (9, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (2, 1),
 (1, 2),
 (3, 1),
 (3, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (5, 1),
 (3, 1),
 (2,),
 (2, 1),
 (2, 1),
 (1, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3,),
 (1, 4),
 (3, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (1, 1),
 (1, 1),
 (1, 1),
 (2,),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (3, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (2, 1),
 (4, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (4, 1),
 (4, 1),
 (1, 2),
 (3, 1),
 (11, 1),
 (1, 1),
 (2, 1),
 (2, 2),
 (3, 1),
 (3, 1),
 (3, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 2),
 (2, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 3),
 (1, 2),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (2, 1),
 (2, 1),
 (2, 1),
 (4, 1),
 (4, 1),
 (3, 1),
 (1, 1),
 (3, 1),
 (2, 1),
 (2,),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3,),
 (3, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2,),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (2, 1),
 (2, 1),
 (1, 2),
 (3, 1),
 (3, 1),
 (1, 2),
 (1, 3),
 (1, 3),
 (1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (4, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (3, 1),
 (6,),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2,),
 (2,),
 (5, 1),
 (2, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2,),
 (2, 1),
 (2, 1),
 (2, 1),
 (2,),
 (1, 2),
 (1, 1),
 (1, 1),
 (1, 2),
 (2, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (2, 1),
 (2,),
 (3, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (2, 1),
 (2, 1),
 (4, 1),
 (2, 1),
 (3, 1),
 (2, 1),
 (4,),
 (1, 1),
 (1, 1),
 (3, 1),
 (7, 1),
 (8, 1),
 (1, 2),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (8, 1),
 (8, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (2,),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (2, 1),
 (3,),
 (1, 2),
 (2, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (3, 1),
 (3, 1),
 (2, 1),
 (4, 1),
 (6, 1),
 (6, 1),
 (2, 1),
 (2, 1),
 (3, 1),
 (2, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (2,),
 (1, 1),
 (3, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (1, 1),
 (2,),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (2,),
 (1, 2),
 (2, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (4, 1),
 (2, 1),
 (1, 1),
 (2, 1),
 (1, 1),
 (2, 1),
 (5, 1),
 (1, 1),
 (1, 1),
 (2, 1),
 (2, 1),
 (4, 1),
 (2,),
 (1, 1),
 (3, 1),
 (2, 1),
 (2,),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (3, 1),
 (1, 1),
 (1, 2),
 (2, 1),
 (2, 1),
 (3,),
 (3,),
 (1, 1),
 (2, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (4, 1),
 (4, 1),
 (1, 1)]

In [295]:
S = train['evidences'][5]

In [296]:
[x for xx in S for x in xx]

[{'text': 'After adjusting for age , body mass index , race , current smoking status , and recent hormonal contraceptive use , women with low AMH values ( < 0.7 ng/mL [ n = 84 ] ) did not have a significantly different predicted probability of conceiving by 6 cycles of attempt ( 65 % ; 95 % CI , 50%-75 % ) compared with women ( n = 579 ) with normal values ( 62 % ; 95 % CI , 57%-66 % ) or by 12 cycles of attempt ( 84 % [ 95 % CI , 70%-91 % ] vs 75 % [ 95 % CI , 70%-79 % ] , respectively ) .',
  'docid': '13497630',
  'start_token': 217,
  'end_token': 333,
  'start_sentence': 7,
  'end_sentence': 8},
 {'text': 'Women with high serum FSH values ( > 10 mIU/mL [ n = 83 ] ) did not have a significantly different predicted probability of conceiving after 6 cycles of attempt ( 63 % ; 95 % CI , 50%-73 % ) compared with women ( n = 654 ) with normal values ( 62 % ; 95 % CI , 57%-66 % ) or after 12 cycles of attempt ( 82 % [ 95 % CI , 70%-89 % ] vs 75 % [ 95 % CI , 70%-78 % ] , respectively ) .',
  'docid': '13497630',
  'start_token': 333,
  'end_token': 429,
  'start_sentence': 8,
  'end_sentence': 9},
 {'text': 'Women with high urinary FSH values ( > 11.5 mIU/mg creatinine [ n = 69 ] ) did not have a significantly different predicted probability of conceiving after 6 cycles of attempt ( 61 % ; 95 % CI , 46%-74 % ) compared with women ( n = 660 ) with normal values ( 62 % ; 95 % CI , 58%-66 % ) or after 12 cycles of attempt ( 70 % [ 95 % CI , 54%-80 % ] vs 76 % [ 95 % CI , 72%-80 % ] , respectively ) .',
  'docid': '13497630',
  'start_token': 429,
  'end_token': 526,
  'start_sentence': 9,
  'end_sentence': 10},
 {'text': 'Inhibin B levels ( n = 737 ) were not associated with the probability of conceiving in a given cycle ( hazard ratio per 1-pg/mL increase , 0.999 ; 95 % CI , 0.997 - 1.001 ) .',
  'docid': '13497630',
  'start_token': 526,
  'end_token': 564,
  'start_sentence': 10,
  'end_sentence': 11},
 {'text': 'Conclusions and Relevance Among women aged 30 to 44 years without a history of infertility who had been trying to conceive for 3 months or less , biomarkers indicating diminished ovarian reserve compared with normal ovarian reserve were not associated with reduced fertility .',
  'docid': '13497630',
  'start_token': 564,
  'end_token': 608,
  'start_sentence': 11,
  'end_sentence': 12}]

In [235]:
t

[[{'text': 'Individuals homozygous for alpha(+)-thalassaemia have microcytosis and an increased erythrocyte count .',
   'docid': '18174210',
   'start_token': 25,
   'end_token': 37,
   'start_sentence': 1,
   'end_sentence': 2},
  {'text': 'We estimated that the haematological profile in children homozygous for alpha(+)-thalassaemia reduces the risk of SMA during acute malaria compared to children of normal genotype ( relative risk 0.52 ; 95 % confidence interval [ CI ] 0.24 - 1.12 , p = 0.09 ) .',
   'docid': '18174210',
   'start_token': 267,
   'end_token': 313,
   'start_sentence': 9,
   'end_sentence': 10}],
 [{'text': 'CONCLUSIONS The increased erythrocyte count and microcytosis in children homozygous for alpha(+)-thalassaemia may contribute substantially to their protection against SMA .',
   'docid': '18174210',
   'start_token': 313,
   'end_token': 334,
   'start_sentence': 10,
   'end_sentence': 11}]]

In [214]:
t[40]

'giggled'

In [161]:
docs = pd.read_json(f'{data_dir}/docs.jsonl', lines=True)

In [179]:
docs

,docid,document
0,075e483d21c29a511267ef62bedc0461,The sanctions against the school were a punish...
1,61fe6e879ff18686d7552425a36344c8,Sammy wanted to go to where the people were . ...
2,4c1cb0e95b99f72d55c068ba0255c54d,To locate a choker not located in a jewelry bo...
3,02e821a3e53cb320790950aab4489e85,Google Maps and other highway and street GPS s...
4,23505889b94e880c3e89cff4ba119860,"The fox walked from the city into the forest ,..."
...,...,...
10912,6c84e79d0595efd99596faa07c4961d0,What would you do to a rock when climb up a cl...
10913,88f1fe6cfbcb1a25f25454341c789463,"His compressor needed a new hose , where did h..."
10914,5074bcaf0f700c9f3c8c563067af156a,"The man closed his eyes as the music played , ..."
10915,6a253e076cd2af00e17d9950d70daf47,"Setting up framing , truss and beam are some o..."
10916,5af7c7860e3be61d4cfd814cc109f9d9,What is another name for a disk for storing in...

,id,text,classification,rationale
0,0,do iran and afghanistan speak the same languag...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ..."
1,1,do good samaritan laws protect those who help ...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, ..."
2,2,is windows movie maker part of windows essenti...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
3,3,is confectionary sugar the same as powdered su...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
4,4,will there be a season 4 of da vinci's demons ...,False,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
...,...,...,...,...
6358,6358,does shorvori die in dil se dil tak [SEP] DIL ...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
6359,6359,is a us district court a federal court [SEP] U...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ..."
6360,6360,can a tenant get a restraining order against a...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
6361,6361,downton abbey will there be a season 7 [SEP] L...,False,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ..."
6362,6362,is margin of error the same as confidence inte...,False,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."