In [187]:
dataset = "boolq"

In [188]:
import pandas as pd
data_dir = f'data/{dataset}'
train = pd.read_json(f'{data_dir}/train.jsonl', lines=True)
test = pd.read_json(f'{data_dir}/test.jsonl', lines=True)
val = pd.read_json(f'{data_dir}/val.jsonl', lines=True)

In [189]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6363 entries, 0 to 6362
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   annotation_id   6363 non-null   int64
 1   classification  6363 non-null   object
 2   docids          6363 non-null   object
 3   evidences       6363 non-null   object
 4   query           6363 non-null   object
 5   query_type      0 non-null      float64
dtypes: float64(1), int64(1), object(4)
memory usage: 298.4+ KB

In [183]:
train

,annotation_id,classification,docids,evidences,query,query_type
0,00046426483cdbd28a73a1f3f3c8b7f3,E,NaN,[[{'docid': '00046426483cdbd28a73a1f3f3c8b7f3'...,middle east [sep] abrahamic [sep] city [sep] j...,temple
1,000990552527b1353f98f1e1a7dfc643_1,E,NaN,[[{'docid': '000990552527b1353f98f1e1a7dfc643_...,hollywood [sep] night sky [sep] constellation ...,star
2,0016d9fa95a1b16ed8f63f48d59edc90,C,NaN,[[{'docid': '0016d9fa95a1b16ed8f63f48d59edc90'...,stress [sep] understand themselves [sep] pleas...,buying christmas presents
3,0017f6705b19814687c5de6f82ad7ed6,A,NaN,[[{'docid': '0017f6705b19814687c5de6f82ad7ed6'...,student [sep] register [sep] old enough [sep] ...,go to school
4,0029a0f6e962a0b87bb9908a7a8ef1e1,B,NaN,[[{'docid': '0029a0f6e962a0b87bb9908a7a8ef1e1'...,sparse [sep] slender [sep] unacquainted [sep] ...,thick
...,...,...,...,...,...,...
8747,ffce169dc46490d006d027c9e1c2b196,D,NaN,[[{'docid': 'ffce169dc46490d006d027c9e1c2b196'...,falling asleep [sep] fatigue [sep] crying [sep...,watching film
8748,ffdc97d64ff5e35ede3c577a3a49b94a,B,NaN,[[{'docid': 'ffdc97d64ff5e35ede3c577a3a49b94a'...,reproduce [sep] obstruct justice [sep] tell th...,love
8749,ffe768a6d5015b7f6a8c845717e183d7,B,NaN,[[{'docid': 'ffe768a6d5015b7f6a8c845717e183d7'...,satisfaction [sep] jealousy [sep] happiness [s...,loving another
8750,ffe82545e5af209e31f5e40552c7349c,C,NaN,[[{'docid': 'ffe82545e5af209e31f5e40552c7349c'...,atlas [sep] post office [sep] map [sep] get to...,route
8751,fff56e80d41b2f7915478da460ef7b0e,A,NaN,[[{'docid': 'fff56e80d41b2f7915478da460ef7b0e'...,experience pleasure [sep] cross street [sep] v...,person

In [161]:
docs = pd.read_json(f'{data_dir}/docs.jsonl', lines=True)

In [179]:
docs

,docid,document
0,075e483d21c29a511267ef62bedc0461,The sanctions against the school were a punish...
1,61fe6e879ff18686d7552425a36344c8,Sammy wanted to go to where the people were . ...
2,4c1cb0e95b99f72d55c068ba0255c54d,To locate a choker not located in a jewelry bo...
3,02e821a3e53cb320790950aab4489e85,Google Maps and other highway and street GPS s...
4,23505889b94e880c3e89cff4ba119860,"The fox walked from the city into the forest ,..."
...,...,...
10912,6c84e79d0595efd99596faa07c4961d0,What would you do to a rock when climb up a cl...
10913,88f1fe6cfbcb1a25f25454341c789463,"His compressor needed a new hose , where did h..."
10914,5074bcaf0f700c9f3c8c563067af156a,"The man closed his eyes as the music played , ..."
10915,6a253e076cd2af00e17d9950d70daf47,"Setting up framing , truss and beam are some o..."
10916,5af7c7860e3be61d4cfd814cc109f9d9,What is another name for a disk for storing in...

In [90]:
pd.read_csv(f'{data_dir}/train.jsonl',)

[1, 2]