In [191]:
dataset = "movies"

In [192]:
import pandas as pd
data_dir = f'data/{dataset}'
train = pd.read_json(f'{data_dir}/train.jsonl', lines=True)
test = pd.read_json(f'{data_dir}/test.jsonl', lines=True)
val = pd.read_json(f'{data_dir}/val.jsonl', lines=True)

In [194]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   annotation_id   1600 non-null   object
 1   classification  1600 non-null   object
 2   evidences       1600 non-null   object
 3   query           1600 non-null   object
 4   query_type      0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 62.6+ KB

In [193]:
train

,annotation_id,classification,evidences,query,query_type
0,negR_000.txt,NEG,"[[{'docid': 'negR_000.txt', 'end_sentence': 6,...",What is the sentiment of this review?,NaN
1,negR_001.txt,NEG,"[[{'docid': 'negR_001.txt', 'end_sentence': 15...",What is the sentiment of this review?,NaN
2,negR_002.txt,NEG,"[[{'docid': 'negR_002.txt', 'end_sentence': 13...",What is the sentiment of this review?,NaN
3,negR_003.txt,NEG,"[[{'docid': 'negR_003.txt', 'end_sentence': 4,...",What is the sentiment of this review?,NaN
4,negR_004.txt,NEG,"[[{'docid': 'negR_004.txt', 'end_sentence': 38...",What is the sentiment of this review?,NaN
...,...,...,...,...,...
1595,posR_795.txt,POS,"[[{'docid': 'posR_795.txt', 'end_sentence': 33...",What is the sentiment of this review?,NaN
1596,posR_796.txt,POS,"[[{'docid': 'posR_796.txt', 'end_sentence': 33...",What is the sentiment of this review?,NaN
1597,posR_797.txt,POS,"[[{'docid': 'posR_797.txt', 'end_sentence': 18...",What is the sentiment of this review?,NaN
1598,posR_798.txt,POS,"[[{'docid': 'posR_798.txt', 'end_sentence': 34...",What is the sentiment of this review?,NaN
1599,posR_799.txt,POS,"[[{'docid': 'posR_799.txt', 'end_sentence': 16...",What is the sentiment of this review?,NaN

In [161]:
docs = pd.read_json(f'{data_dir}/docs.jsonl', lines=True)

In [179]:
docs

,docid,document
0,075e483d21c29a511267ef62bedc0461,The sanctions against the school were a punish...
1,61fe6e879ff18686d7552425a36344c8,Sammy wanted to go to where the people were . ...
2,4c1cb0e95b99f72d55c068ba0255c54d,To locate a choker not located in a jewelry bo...
3,02e821a3e53cb320790950aab4489e85,Google Maps and other highway and street GPS s...
4,23505889b94e880c3e89cff4ba119860,"The fox walked from the city into the forest ,..."
...,...,...
10912,6c84e79d0595efd99596faa07c4961d0,What would you do to a rock when climb up a cl...
10913,88f1fe6cfbcb1a25f25454341c789463,"His compressor needed a new hose , where did h..."
10914,5074bcaf0f700c9f3c8c563067af156a,"The man closed his eyes as the music played , ..."
10915,6a253e076cd2af00e17d9950d70daf47,"Setting up framing , truss and beam are some o..."
10916,5af7c7860e3be61d4cfd814cc109f9d9,What is another name for a disk for storing in...

In [190]:
pd.read_csv(f'csv/others/boolq/train.csv',)

,id,text,classification,rationale
0,0,do iran and afghanistan speak the same languag...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ..."
1,1,do good samaritan laws protect those who help ...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, ..."
2,2,is windows movie maker part of windows essenti...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
3,3,is confectionary sugar the same as powdered su...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
4,4,will there be a season 4 of da vinci's demons ...,False,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
...,...,...,...,...
6358,6358,does shorvori die in dil se dil tak [SEP] DIL ...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
6359,6359,is a us district court a federal court [SEP] U...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ..."
6360,6360,can a tenant get a restraining order against a...,True,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
6361,6361,downton abbey will there be a season 7 [SEP] L...,False,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ..."
6362,6362,is margin of error the same as confidence inte...,False,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."