In [20]:
import pandas as pd
import os
from tqdm import tqdm
from utils import avg
from utils import evidence_to_mask

def to_data_df(df, data_dir):
    data_df = []
    columns = ['text', 'classification', 'rationale']
    for i in tqdm(range(len(df))):
        df_row = df.loc[i]
        
        doc_id = df_row['annotation_id']
        evidence_list = df_row['evidences']
        if evidence_list:
            evidence_list = evidence_list[0]
        classification = df_row['classification']
        
        text = ''
        file = f'{data_dir}/docs/{doc_id}'
        if os.path.isfile(file):
            f = open(file, 'r', encoding="utf-8") 
            for line in f.readlines():
                text += line.rstrip() + ' '
        else:
            print("???")
            print(file)
            quit()
        
        tokens = text.split()
        rationale_mask = evidence_to_mask(tokens, evidence_list)
        
        # joining text and query with [SEP]
        QA = f"[CLS] {text} [SEP]" 
#         QA = f"{text}"
        rationale_mask = rationale_mask
    
        data_df.append([QA, classification, rationale_mask])
    data_df = pd.DataFrame(data_df, columns=columns)
    
    data_df_shuffled=data_df.sample(frac=1).reset_index(drop=True)
    return data_df_shuffled

In [21]:
dataset = "movies"

In [22]:
data_dir = f'../data/{dataset}'
train = pd.read_json(f'{data_dir}/train.jsonl', lines=True)
test = pd.read_json(f'{data_dir}/test.jsonl', lines=True)
val = pd.read_json(f'{data_dir}/val.jsonl', lines=True)

In [18]:
train.info()
# test.info()
# val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   annotation_id   1600 non-null   object
 1   classification  1600 non-null   object
 2   evidences       1600 non-null   object
 3   query           1600 non-null   object
 4   query_type      0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 62.6+ KB

In [19]:
train_data_df = to_data_df(train, data_dir)
train_data_df.to_csv(f"{dataset}/train.csv",index_label="id")
test_data_df = to_data_df(test, data_dir)
test_data_df.to_csv(f"{dataset}/test.csv",index_label="id")
val_data_df = to_data_df(val, data_dir)
val_data_df.to_csv(f"{dataset}/val.csv",index_label="id")

100%|████████████████████████████████████████████████████████████████████████████| 1600/1600 [00:01<00:00, 1314.02it/s]
100%|██████████████████████████████████████████████████████████████████████████████| 199/199 [00:00<00:00, 1227.12it/s]
100%|██████████████████████████████████████████████████████████████████████████████| 200/200 [00:00<00:00, 1192.69it/s]

In [23]:
test_data_df = to_data_df(test, data_dir)

100%|███████████████████████████████████████████████████████████████████████████████| 199/199 [00:00<00:00, 934.29it/s]

In [24]:
test_data_df

,text,classification,rationale
0,[CLS] there may not be a critic alive who harb...,NEG,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,"[CLS] renee zellweger stars as sonia , a young...",NEG,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,[CLS] there 're so many things to criticize ab...,NEG,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,[CLS] do n't let this movie fool you into beli...,NEG,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,[CLS] it 's a good thing most animated sci - f...,NEG,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...
194,[CLS] wow ! what a movie . it 's everything a ...,POS,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
195,"[CLS] richard gere can be a commanding actor ,...",POS,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
196,"[CLS] glory -- starring matthew broderick , de...",POS,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
197,[CLS] steven spielberg 's second epic film on ...,POS,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, ..."
198,"[CLS] truman ( "" true - man "" ) burbank is the...",POS,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, ..."